In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect("latha.db")

In [3]:
# cursor
crsr = connection.cursor()
 
# print statement will execute if there
# are no errors
print("Connected to the database")
 
# close the connection
connection.close()

Connected to the database

In [2]:
# connecting to the database
connection = sqlite3.connect("latha.db")
 
# cursor
crsr = connection.cursor()
 
# SQL command to create a table in the database
sql_command = """create table course1(ccode varchar(7), cname varchar(15), credits number(2));"""
 
# execute the statement
crsr.execute(sql_command)
 
# close the connection
connection.close()

In [3]:

# Python code to demonstrate table creation and
# insertions with SQL
 
# importing module
import sqlite3
 
# connecting to the database
connection = sqlite3.connect("latha.db")
 
# cursor
crsr = connection.cursor()
 
# SQL command to insert the data in the table
sql_command = """insert into course1 values("cse1002","oops", 3);"""
crsr.execute(sql_command)
 
# another SQL command to insert the data in the table
sql_command = """insert into course1 values("eng1901","english", 2);"""
crsr.execute(sql_command)
 
# To save the changes in the files. Never skip this.
# If we skip this, nothing will be saved in the database.
connection.commit()
 
# close the connection
connection.close()

In [4]:
import sqlite3
connection = sqlite3.connect("latha.db")
crsr = connection.cursor()
crsr.execute("SELECT * FROM course1;").fetchall()

[('cse1002', 'oops', 3), ('eng1901', 'english', 2)]